<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File List</title>
</head>
<body>
    <br>
    
    <h1>
        Lista de Archivos
    </h1>
    <div>
        {% if filenames_and_formats != [] %}
            {% for filename_format in filenames_and_formats %}
            <ul>
                <li>
                    {% if filename_format[1] == 'txt' %}
                        {{filename_format[0]}}.{{filename_format[3]}}: 
                        <a href="{{dir_source_files_path}}{{filename_format[0]}}.{{filename_format[3]}}" target="_blank">view source</a>
                        <span> | </span>
                        <a href="{{dir_source_files_path}}{{filename_format[2]}}.{{filename_format[1]}}" target="_blank">view transciption</a>
                    {% elif filename_format[3] == 'txt' %}
                        {{filename_format[0]}}.{{filename_format[1]}}: 
                        <a href="{{dir_source_files_path}}{{filename_format[0]}}.{{filename_format[1]}}" target="_blank">view source</a>
                        <span> | </span>
                        <a href="{{dir_source_files_path}}{{filename_format[2]}}.{{filename_format[3]}}" target="_blank">view transciption</a>

                    {% else %}
                        {{filename_format[0]}}.{{filename_format[1]}}: 
                        <a href="{{dir_source_files_path}}{{filename_format[0]}}.{{filename_format[1]}}" target="_blank">view source</a>
                    {% endif %}
                </li>
            </ul>

            {% endfor %}
        {% else %}
        <ul>
            <li> No hay archivos.</li>
        {% endif %}
        </ul>
    </div>
    <hr />

    <br />

    <footer>
        {% if filenames_format_pairs != [] %}
        <div>
        <a href="/delete_files">Limpiar archivos</a>
        </div>
        <br />
        {% endif %}
        
        <div>
            <a href="/">Ir a inicio</a>
        </div>
    </footer>
</body>
</html>