<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Receipt Service</title>
</head>
<body>
    <script>
    </script>

    <h1>Digitalización de Boletas de Venta</h1>
    <hr />
    <br />

    <form action="/uploadfile/" method="post" enctype="multipart/form-data">
    <form>
    <label form="fileInput">¿Qué archivo deseas cargar?: </label>
    <input id="fileInput" name="file" type="file" />
    <br /><br />
    <button>Subir archivo</button>
    </form>
    
    <br />

    <hr />
    <footer>
        <div>
            <a href="/filelist">Lista de archivos</a>
        </div>
    </footer>
</body>
</html>